<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body class="hold-transition sidebar-mini">

	<header th:replace="layout/layout ::header"></header>
	<aside th:replace="layout/layout ::aside"></aside>
	<div class="content-wrapper">
		<section th:replace="layout/layout ::section1"></section>

		<section class="content">

			<!-- Main content -->
			<div class="content">
				<div class="container-fluid">
					<div class="row">
						<div class="col-lg-6">

							<div class="card card-primary card-outline">
								<div class="card-body">
									<h5 class="card-title">
										<b>Avisos del administrador</b>
									</h5>

									<p class="card-text">Actualización del sistema interno del conocer, con nueva funcionalidad para añadir
									lotes de dictamen así como reportes detallados.</p>
									<a href="mailto:<coor.sistemas@it-okcenter.com>" class="card-link">Enviar comentarios</a> <a href="#"
										class="card-link" hidden="true">Another link</a>
								</div>
							</div>
							<!-- /.card -->
						</div>

						<!-- /.col-md-6 -->
						<div class="col-lg-6">
							<div class="card card-primary card-outline">
								<div class="card-header">
									<h5 class="m-0">Ficha registro online</h5>
								</div>
								<div class="card-body">
									<h6 class="card-title">Para acceder a la ficha de registro en línea favor de ingresar a la siguiente liga</h6>
										<br>
									<a class="card-link" href="//189.211.112.106/public/fichaRegistroPublica">Ficha registro</a>
									
								</div>
							</div>
						</div>
						<!-- /.col-md-6 -->
					</div>
					<!-- /.row -->
				</div>
				<!-- /.container-fluid -->
			</div>
			<!-- /.content -->
		</section>


		<!-- Main content -->
		<section class="content">
			<div class="container-fluid">
				<!-- Small boxes (Stat box) -->
				<div class="row">
					<div class="col-lg-3 col-6">
						<!-- small box -->
						<div class="small-box bg-info">
							<div class="inner">
								<h3 th:text="${fichas}"></h3>

								<p>Nuevas Fichas</p>
							</div>
							<div class="icon">
								<i class="ion ion-bag"></i>
							</div>
							<a href="reportes/reporteFichas" class="small-box-footer">More info <i
								class="fas fa-arrow-circle-right"></i></a>
						</div>
					</div>
					<!-- ./col -->
					<div class="col-lg-3 col-6">
						<!-- small box -->
						<div class="small-box bg-success">
							<div class="inner">
								<h3 th:text="${procesos}">
									<sup style="font-size: 20px">%</sup>
								</h3>

								<p>Procesos concluidos</p>
							</div>
							<div class="icon">
								<i class="ion ion-stats-bars"></i>
							</div>
							<a href="reportes/reporteProcesos" class="small-box-footer">More info <i
								class="fas fa-arrow-circle-right"></i></a>
						</div>
					</div>
					<!-- ./col -->
					<div class="col-lg-3 col-6">
						<!-- small box -->
						<div class="small-box bg-warning">
							<div class="inner">
								<h3 th:text="${candidatos}"></h3>

								<p>Candidatos Registrados</p>
							</div>
							<div class="icon">
								<i class="ion ion-person-add"></i>
							</div>
							<a href="reportes/reporteFichas" class="small-box-footer">More info <i
								class="fas fa-arrow-circle-right"></i></a>
						</div>
					</div>
					<!-- ./col -->
					<div class="col-lg-3 col-6">
						<!-- small box -->
						<div class="small-box bg-danger">
							<div class="inner">
								<h3 th:text="${evaluadores}">65</h3>

								<p>Evaluadores Registrados</p>
							</div>
							<div class="icon">
								<i class="ion ion-pie-graph"></i>
							</div>
							<a href="reportes/reporteEvaluadores" class="small-box-footer">More info <i
								class="fas fa-arrow-circle-right"></i></a>
						</div>
					</div>
					<!-- ./col -->
				</div>
				<!-- /.row -->

			<!-- jQuery Knob -->
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">
                  <i class="far fa-chart-bar"></i>
                  Estadisticas
                </h3>

                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse"><i
                      class="fas fa-minus"></i>
                  </button>
                  <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i>
                  </button>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <div class="row">
                  <div class="col-6 col-md-3 text-center">
                    <input type="text" class="knob" value="4" data-width="90" data-height="90" data-fgColor="#3c8dbc">

                    <div class="knob-label">New Visitors</div>
                  </div>
                  <!-- ./col -->
                  <div class="col-6 col-md-3 text-center">
                    <input type="text" class="knob" value="70" data-width="90" data-height="90" data-fgColor="#f56954">

                    <div class="knob-label">Bounce Rate</div>
                  </div>
                  <!-- ./col -->
                  <div class="col-6 col-md-3 text-center">
                    <input type="text" class="knob" value="-80" data-min="-150" data-max="150" data-width="90"
                           data-height="90" data-fgColor="#00a65a">

                    <div class="knob-label">Server Load</div>
                  </div>
                  <!-- ./col -->
                  <div class="col-6 col-md-3 text-center">
                    <input type="text" class="knob" value="40" data-width="90" data-height="90" data-fgColor="#00c0ef">

                    <div class="knob-label">Disk Space</div>
                  </div>
                  <!-- ./col -->
                </div>
                <!-- /.row -->

                
              </div>
              <!-- /.card-body -->
            </div>

			</div>
			<!-- /.container-fluid -->
		</section>


	</div>
	<footer th:replace="layout/layout ::footer"></footer>
	<!-- Control Sidebar -->
	<aside class="control-sidebar control-sidebar-dark">
		<!-- Control sidebar content goes here -->
	</aside>

	<section th:replace="layout/layout ::section2"></section>

</body>
</html>