<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body class="hold-transition sidebar-mini">

	<header th:replace="layout/layout ::header"></header>
	<aside th:replace="layout/layout ::aside"></aside>
	<div class="content-wrapper">
		<section th:replace="layout/layout ::section1"></section>

		<section class="content">
			<div class="container py-4">
				<!-- left column -->
				<div class="col-md-8">
					<!-- general form elements -->
					<div class="card card-orange">
						<div class="card-header">
							<h3 class="card-title">Proporcione los siguientes datos</h3>
						</div>
						<!-- /.card-header -->
						<!-- form start -->
						<form th:action="@{/certificados/registrarCertificado}"
							th:object="${certificados}" method="post">
							<div class="card-body">
								<div class="row">
									<div class="col-sm-6">
										<div class="form-group">
											<label>Nombre:</label>
											<div class="input-group-prepend">

												<input type="text" class="form-control"
													placeholder="Nombres"
													th:value="${certificados.idProceso.idFichaRegistro.candidato.nombre} +' '+${certificados.idProceso.idFichaRegistro.candidato.apellidoP}+' '+${certificados.idProceso.idFichaRegistro.candidato.apellidoM} "
													onkeyup="mayus(this);" disabled="disabled">
											</div>
										</div>
									</div>
									<div class="col-sm-6">
										<div class="form-group">
											<label>Evaluador:</label>
											<div class="input-group-prepend">

												<input type="text" class="form-control"
													placeholder="Nombres"
													th:value="${certificados.idProceso.idFichaRegistro.idEvaluadorIndependiente.nombre} "
													onkeyup="mayus(this);" disabled="disabled">
											</div>
										</div>
									</div>

									<div class="col-sm-6">
										<div class="form-group">
											<label>Estandar:</label>
											<div class="input-group-prepend">

												<input type="text" class="form-control"
													placeholder="Nombres"
													th:value="${certificados.idProceso.idFichaRegistro.idClaveEstandar.clave} +' - '+ ${certificados.idProceso.idFichaRegistro.idClaveEstandar.nombre} "
													onkeyup="mayus(this);" disabled="disabled">
											</div>
										</div>
									</div>

									<div class="col-sm-6">
										<div class="form-group">
											<label>Fecha de Registro</label>
											<div class="input-group-prepend">

												<input type="text" class="form-control"
													placeholder="Nombres"
													th:value="${certificados.idProceso.idFichaRegistro.FechaRegistro} "
													onkeyup="mayus(this);" disabled="disabled">
											</div>
										</div>
									</div>

									<div class="col-sm-6">
										<div class="form-group">
											<label>Folio de dictamen</label>
											<div class="input-group-prepend">

												<input type="text" class="form-control"
													placeholder="Nombres"
													th:value="${certificados.idProceso.idLoteDictamen.idLoteDictamen} "
													onkeyup="mayus(this);" disabled="disabled">
											</div>
										</div>
									</div>

									<div class="col-sm-6">
										<div class="form-group">
											<label>Juicio de competencia</label>
											<div class="input-group-prepend">

												<input type="text" class="form-control"
													placeholder="Nombres" th:value="${certificados.idProceso.juicio} "
													onkeyup="mayus(this);" disabled="disabled">
											</div>
										</div>
									</div>


								</div>

								<div class="row">


									<div class="col-sm-6">

										<div class="form-group ">
											<label>Folio del certificado</label>
											<div class="input-group-prepend">

												<input type="text" class="form-control"
													th:field="*{folioCertificado}" placeholder="Folio"
													onkeyup="mayus(this);" required="required">
											</div>
										</div>

									</div>

									<div class="col-sm-6">
										<div class="form-group">
											<label>Fecha de expedición</label>
											<div class="input-group-prepend">

												<input type="date" class="form-control" th:field="*{fecha}"
													placeholder="Fecha" required="required">
											</div>
										</div>
									</div>

									<div class="col-sm-6">
										<div class="form-group">
											<label>Vigencia</label>
											<div class="input-group-prepend">

												<input type="date" class="form-control"
													th:field="*{vigencia}" placeholder="Fecha"
													required="required">
											</div>
										</div>
									</div>


								
									

								</div>



							</div>
							<!-- /.card-body -->

							<div class="card-footer">
								<button type="submit" class="btn btn-success float-right">Registrar</button>
							</div>
						</form>
					</div>
					<!-- /.card -->
				</div>
			</div>


		</section>


	</div>
	<footer th:replace="layout/layout ::footer"></footer>
	<!-- Control Sidebar -->
	<aside class="control-sidebar control-sidebar-dark">
		<!-- Control sidebar content goes here -->
	</aside>
	<section th:replace="layout/layout ::section2"></section>
</body>