<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body class="hold-transition sidebar-mini">

	<header th:replace="layout/layout ::header"></header>
	<aside th:replace="layout/layout ::aside"></aside>
	<div class="content-wrapper">
		<section th:replace="layout/layout ::section1"></section>

		<section class="content">

			<!-- Default box -->
			<div class="card">
				<div class="card-header">
					<h3 class="card-title">Fichas registradas en el sistema</h3>

					<div class="card-tools">
						<button type="button" class="btn btn-tool"
							data-card-widget="collapse" data-toggle="tooltip"
							title="Collapse">
							<i class="fas fa-minus"></i>
						</button>
						<button type="button" class="btn btn-tool"
							data-card-widget="remove" data-toggle="tooltip" title="Remove">
							<i class="fas fa-times"></i>
						</button>
					</div>
				</div>

				<div class="card-body">
					<table id="example1" class="table table-bordered table-striped">
						<thead>
							<tr>
								<th>Clave</th>
								<th>Nombre</th>
								<th>Vigencia</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="var: ${listaEstandar}">
								<td th:text="${var.clave}"></td>
								<td th:text="${var.nombre} "></td>
								<td th:text="${var.vigencia}"></td>
							</tr>

						</tbody>
						<tfoot>
							<tr>
								<th>Clave</th>
								<th>Nombre</th>
								<th>Vigencia</th>
							</tr>
						</tfoot>
					</table>
				</div>
				<!-- /.card-body -->
				<div class="card-footer"></div>
				<!-- /.card-footer-->
			</div>
			<!-- /.card -->

		</section>


	</div>
	<footer th:replace="layout/layout ::footer"></footer>
	<!-- Control Sidebar -->
	<aside class="control-sidebar control-sidebar-dark">
		<!-- Control sidebar content goes here -->
	</aside>
	<section th:replace="layout/layout ::section2"></section>
	<script>
		$(function() {
			$("#example1").DataTable();
			$('#example2').DataTable({
				"paging" : true,
				"lengthChange" : false,
				"searching" : false,
				"ordering" : true,
				"info" : true,
				"autoWidth" : false,
			});
		});
	</script>
</body>
</html>