<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body class="hold-transition sidebar-mini">

	<header th:replace="layout/layout ::header"></header>
	<aside th:replace="layout/layout ::aside"></aside>
	<div class="content-wrapper">
		<section th:replace="layout/layout ::section1"></section>

		<section class="content">
			<div class="container py-4">
				<!-- left column -->
				<div class="col-md-8">
					<!-- general form elements -->
					<div class="card card-primary">
						<div class="card-header">
							<h3 class="card-title">Proporcione los siguientes datos</h3>
						</div>
						<!-- /.card-header -->
						<!-- form start -->
						<form th:action="@{/lote/guardarLote}" th:object="${loteDictamen}" method="post">
							<div class="card-body">
								<div class="row">
									<div class="col-sm-6">
										
										<div class="form-group "  >
											<label>ID</label>
											<div class="input-group-prepend">

												<input type="text" class="form-control" th:field="*{idLoteDictamen}"
													placeholder="Folio" onkeyup="mayus(this);"
													required="required">
											</div>
										</div>
										
									</div>

									<div class="col-sm-6">
										<div class="form-group">
											<label>Número de fichas</label>
											<div class="input-group-prepend">

												<input type="number" class="form-control"
													th:field="*{numeroFichas}"  required="required">
											</div>
										</div>
									</div>

									<!--  th:field="*{idClaveEstandar}" -->

									<div class="col-sm-4">
										<div class="form-group">
											<label>Fecha de dictamen</label>
											<div class="input-group-prepend">

												<input type="date" class="form-control"
													th:field="*{fechaDictamen}" placeholder="Fecha"
													required="required">
											</div>
										</div>
									</div>


									<div class="col-sm-6">
										<div class="form-group">
											<label>Procedente</label>
											<div class="form-check">

												<input class="form-check-input" type="radio"
													th:field="*{procedente}" th:value="'1'"> <label
													class="form-check-label">Si</label>
											</div>
											<div class="form-check">
												<input class="form-check-input" type="radio"
													th:field="*{procedente}" th:value="'0'"> <label
													class="form-check-label">No</label>
											</div>
										</div>
									</div>


								</div>



							</div>
							<!-- /.card-body -->

							<div class="card-footer">
								<button type="submit" class="btn btn-primary float-right">Registrar</button>
							</div>
						</form>
					</div>
					<!-- /.card -->
				</div>
			</div>


		</section>


	</div>
	<footer th:replace="layout/layout ::footer"></footer>
	<!-- Control Sidebar -->
	<aside class="control-sidebar control-sidebar-dark">
		<!-- Control sidebar content goes here -->
	</aside>
	<section th:replace="layout/layout ::section2"></section>
</body>