<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body class="hold-transition sidebar-mini">

	<header th:replace="layout/layout ::header"></header>
	<aside th:replace="layout/layout ::aside"></aside>
	<div class="content-wrapper">
		<section th:replace="layout/layout ::section1"></section>

		<!-- Main content -->
		<section class="content">
			<div class="container py-4">
				<!-- left column -->
				<div class="col-md-10">
					<!-- general form elements -->
					<div class="card card-primary">
						<div class="card-header">
							<h3 class="card-title">Asignar juicio</h3>
						</div>
						<!-- /.card-header -->
						<!-- form start -->

						<div class="card-body">


							<div class="row">
								<div class="col-sm-6">
									<div class="form-group">
										<label>Nombre:</label>
										<div class="input-group-prepend">

											<input type="text" class="form-control" placeholder="Nombres"
												th:value="${proceso.idFichaRegistro.candidato.nombre} +' '+${proceso.idFichaRegistro.candidato.apellidoP}+' '+${proceso.idFichaRegistro.candidato.apellidoM} "
												onkeyup="mayus(this);" disabled="disabled">
										</div>
									</div>
								</div>
								
								<div class="col-sm-6">
									<div class="form-group">
										<label>Evaluador:</label>
										<div class="input-group-prepend">

											<input type="text" class="form-control" placeholder="Nombres"
												th:value="${proceso.idFichaRegistro.idEvaluadorIndependiente.nombre} "
												onkeyup="mayus(this);" disabled="disabled">
										</div>
									</div>
								</div>
								
								<div class="col-sm-6">
									<div class="form-group">
										<label>Estandar:</label>
										<div class="input-group-prepend">

											<input type="text" class="form-control" placeholder="Nombres"
												th:value="${proceso.idFichaRegistro.idClaveEstandar.clave} +' - '+ ${proceso.idFichaRegistro.idClaveEstandar.nombre} "
												onkeyup="mayus(this);" disabled="disabled">
										</div>
									</div>
								</div>
								
								<div class="col-sm-6">
									<div class="form-group">
										<label>Fecha de Registro</label>
										<div class="input-group-prepend">

											<input type="text" class="form-control" placeholder="Nombres"
												th:value="${proceso.idFichaRegistro.FechaRegistro} "
												onkeyup="mayus(this);" disabled="disabled">
										</div>
									</div>
								</div>
								<!-- ***************************** -->
								<!-- /.card-header -->

								<div class="card-body">
									<label>Juicio de competencia</label>
									

									<!-- ********************************************* -->
									<hr>
									<form th:action="@{/procesos/asignar}"
										th:object="${proceso}" method="post">
										<!--  th:field="*{idClaveEstandar}" -->
										

										<!-- radio -->
										<div class="row col-sm-12">
									<div class="col-sm-4">
										<div class="form-group" required="required">
											<label>Juicio</label>
											<div class="form-check">

												<input class="form-check-input" type="radio"
													th:field="*{juicio}" th:value="'Competente'" checked="checked">
												<label class="form-check-label">Competente</label>
											</div>
											<div class="form-check">
												<input class="form-check-input" type="radio"
													th:field="*{juicio}" th:value="'Todavía no competente'">
												<label class="form-check-label">Todavía no competente</label>
											</div>
										</div>
									</div>
								<div class="col-sm-4">
									<div class="form-group">
										<label>Fecha de envío a dictamen:</label>
										<div class="input-group-prepend">

											<input  required="required" type="date"
													class="form-control"
													th:field="*{fechaEnvioDictamen}">
										</div>
									</div>
								</div>
								</div>
										<!-- /.card-body -->

										<div class="card-footer">
											<button type="submit" class="btn btn-primary float-right">Asignar</button>
										</div>
									</form>
								</div>
							</div>


						</div>
					</div>
					<!-- /.card -->

				</div>
			</div>
		</section>




	</div>
	<footer th:replace="layout/layout ::footer"></footer>
	<!-- Control Sidebar -->
	<aside class="control-sidebar control-sidebar-dark">
		<!-- Control sidebar content goes here -->
	</aside>
	<section th:replace="layout/layout ::section2"></section>
</body>

<script>
	function mayus(e) {
		e.value = e.value.toUpperCase();
	}
</script>
</html>