<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body class="hold-transition sidebar-mini">

	<header th:replace="layout/layout ::header"></header>
	<aside th:replace="layout/layout ::aside"></aside>
	<div class="content-wrapper">
		<section th:replace="layout/layout ::section1"></section>

		<section class="content">

			<!-- Default box -->
			<div class="card">
				<div class="card-header">
					<h3 class="card-title">Lista de procesos activos</h3>

					<div class="card-tools">
						<button type="button" class="btn btn-tool"
							data-card-widget="collapse" data-toggle="tooltip"
							title="Collapse">
							<i class="fas fa-minus"></i>
						</button>
						<button type="button" class="btn btn-tool"
							data-card-widget="remove" data-toggle="tooltip" title="Remove">
							<i class="fas fa-times"></i>
						</button>
					</div>
				</div>

				<div class="card-body">
					<table id="example1" class="table table-bordered table-striped">
						<thead>
							<tr>
								<th>Nombre Candidato</th>
								<th>Evaluador</th>
								<th>Estandar</th>
								<th>Fecha de registro</th>
								<th>Juicio</th>
								<th>Fecha dictamen</th>
								<th>Asignar Juicio</th>
								<th>Dictamen</th>
								<th>Lote de Dictamen </th>
								<th>Asignar Dictamen</th>
								
								
							</tr>
						</thead>
						<tbody>
							<tr th:each="var: ${listaProcesos}">
								<td th:text="${var.idFichaRegistro.candidato.nombre} + ' ' + ${var.idFichaRegistro.candidato.apellidoP} +' '+ ${var.idFichaRegistro.candidato.apellidoM} "></td>
								<td th:text="${var.idFichaRegistro.idEvaluadorIndependiente.nombre}">2</td>
								<td th:text="${var.idFichaRegistro.idClaveEstandar.clave} +' - '+ ${var.idFichaRegistro.idClaveEstandar.nombre}">3</td>
								<td th:text="${var.idFichaRegistro.fechaRegistro}">4</td>
								<td th:text="${var.juicio}">5</td>
								<td th:text="${var.fechaEnvioDictamen}">5</td>
								<td><a class="btn btn-success" th:href="@{/procesos/asignar/} + ${var.idProceso} " th:text="Asignar"></a></td>
								<td th:text="${var.dictamen}">7</td>
								<td th:text="${var.dictamen}">7</td>
								<td><a class="btn btn-danger" th:href="@{/procesos/asignarDictamen/} + ${var.idProceso} "  onclick="return confirm('Atención, una vez que se establezca el Dictamen del proceso de evaluación, este no podrá ser editado. Ya que el proceso pasará a un estado inactivo');"  th:text="Asignar"></a></td>
							</tr>

						</tbody>
						<tfoot>
							<tr>
								<th>Nombre Candidato</th>
								<th>Evaluador</th>
								<th>Estandar</th>
								<th>Fecha de registro</th>
								<th>Juicio</th>
								<th>Fecha dictamen</th>
								<th>Asignar Juicio	</th>
								<th>Dictamen</th>
								<th>Lote de Dictamen </th>
								<th>Asignar Dictamen</th>
							</tr>
						</tfoot>
					</table>
				</div>
				<!-- /.card-body -->
				<div class="card-footer"></div>
				<!-- /.card-footer-->
			</div>
			<!-- /.card -->

		</section>


	</div>
	<footer th:replace="layout/layout ::footer"></footer>
	<!-- Control Sidebar -->
	<aside class="control-sidebar control-sidebar-dark">
		<!-- Control sidebar content goes here -->
	</aside>
	<section th:replace="layout/layout ::section2"></section>
	
</body>
</html>

